.quickbar-inner
  a.home.now-playing(data-href= '#/')= __('Now Playing')
    .icon
  a.settings(data-href= '#/settings')= __('Settings')
    .icon
  a.favorites(data-href= '#/favorites')= __('Favorites')
    .icon
  hr
  a.tag-radio(data-href= '#/tag-radio')= __('Tag Radio')
    .icon
  a.broadcasts(data-href= '#/broadcasts')= __('Broadcasts')
    .icon
  hr
  a#new-playlist= __('New Playlist')
    .icon
  #my-playlists
    .playlists
      ul