.modal-header
  a.close('data-dismiss'= 'modal') &times;
  h3 Share
.modal-body#share

  p
    iframe.share-twitter(allowtransparency= 'true'
      frameborder= 0
      scrolling= 'no'
      src= twitterSrc)
    iframe.share-facebook(allowtransparency= 'true'
      frameborder= 0
      scrolling= 'no'
      src= facebookSrc)

  p You can also copy the url manually:

  p
    textarea#share-url #{url}
    
.modal-footer
  button.btn('data-dismiss'= 'modal')
    i.icon-arrow-left
    |  Go back
