h1 Playlists - #{user}

br
ul.unstyled
  each playlist in playlists
    li
      a(href= '/user/' + user + '/playlist/' + playlist._id) #{playlist.name}
      - if (playlist.changed)
        |  
        span.label.label-important Unsaved changes
      p #{playlist.tracks_count} #{_.plural(playlist.tracks_count, 'track', 'tracks')}
        - if (playlist.time)
          |  #{playlist.time.created}
