h1 Playlists - #{user || 'anonymous'}

br
ul.unstyled
  each playlist in playlists
    li
      a.playlist(href= playlist.url
        class= (playlist._id ? '' : ' unsaved ') + (playlist.active ? ' active ' : '')) #{playlist.name}
      
      |  - #{playlist.tracks_count} #{_.plural(playlist.tracks_count, 'track', 'tracks')}
      - if (playlist.nowPlaying)
        span.label.label-success listening
      - if (playlist.changed)
        span.label.label-important changed
      - if (!playlist._id)
        span.label.label-warning new


      p
        - if (playlist.time)
          | Created on #{moment(playlist.time.created).format('dddd, MMMM Do YYYY, h:mm:ss a')}
