- if (!playlist._id || (currentUser && currentUser.username == playlist.user))
  .btn-group.pull-right
    button.btn.btn-primary.btn-large.playlist-save
      i.icon-upload
      |  Save
    button.btn.btn-primary.btn-large.dropdown-toggle('data-toggle'= 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.playlist-save
          i.icon-upload
          |  Save
      li
        a.playlist-sidebar
          i.icon-bookmark
          - if (playlist.sidebar)
            |  Remove from Sidebar
          - else
            |  Add to Sidebar
      li
        a.playlist-delete
          i.icon-trash
          |  Delete

- if (nowPlaying)
  h1 Now Playing

- if (editName)
  input.playlist-name-edit(maxlength= '50', name= 'playlist-name', value= playlist.name)
- else
  - if (!playlist._id || (currentUser && currentUser.username == playlist.user))
    .playlist-name.edit #{playlist.name}
      button.btn.btn-mini
        i.icon-pencil
        |  Edit Playlist Name
  - else
    .playlist-name #{playlist.name}

p Created by 
  a(href= '/user/' + playlist.user) #{playlist.user}
  | , #{playlist.tracks_count} #{_.plural(playlist.tracks_count, 'track', 'tracks')}

- if (!nowPlaying)
  .btn-group
    button.btn.btn-large.play-all Play All
    button.btn.btn-large.dropdown-toggle('data-toggle'= 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.play-all Play All
      li
        a.queue-all-next Queue Next
      li
        a.queue-all-last Queue Last

- if (playlist.tracks_count)  
  .tracks
    table.playlist.table.table-striped
      thead
        tr
          th.dd
          th.play
          th Track
          th Artist
      tbody
