#app
  #header
    a.home(href= '/#/')= __('jukesy')
    input#query(name= 'jksy_query', type= 'text', value= '', placeholder= __('search for music'), spellcheck= 'false')
    #controls
    #login= __('login')
  #sidebar
    #quickbar
      a(href= '/#/')= __('Now Playing')
      a(href= '/#/settings')= __('Settings')
      a(href= '/#/favorites')= __('Favorites')
      a(href= '/#/playlists')= __('Playlists')
      hr
      a(href= '/#/tag-radio')= __('Tag Radio')
      a(href= '/#/broadcasts')= __('Broadcasts')
      hr
      a(href= '/#/')= __('+ New Playlist')
    #video
    #video_shim
  #main
  #playlist_wrapper
    #playlist.tracks


script#controls-template(type= 'text/template')
  != partial('backbone/_controls')

script#song-info-template(type= 'text/template')
  != partial('backbone/_song_info')

script#song-badge-template(type= 'text/template')
  != partial('backbone/_song_badge')

script#playlists-template(type= 'text/template')
  != partial('backbone/_playlists')

script#playlist-short-template(type= 'text/template')
  != partial('backbone/_playlist_short')

script#home-template(type= 'text/template')
  != partial('backbone/_home')

script#lastfm-search-template(type= 'text/template')
  != partial('backbone/_lastfm_search')

script#tag-template(type= 'text/template')
  != partial('backbone/_tag')

script#album-template(type= 'text/template')
  != partial('backbone/_album')

script#artist-template(type= 'text/template')
  != partial('backbone/_artist')

script#track-template(type= 'text/template')
  != partial('backbone/_track')

script#track-actions-template(type= 'text/template')
  != partial('backbone/_track_actions')

script#lastfm-no-results-template(type= 'text/template')
  != partial('backbone/_lastfm_no_results')

script#lastfm-waiting-template(type= 'text/template')
  != partial('backbone/_lastfm_waiting')

script#playlist-template(type= 'text/template')
  != partial('backbone/_playlist')

script#playlist-empty-template(type= 'text/template')
  != partial('backbone/_playlist_empty')

script#modal-template(type= 'text/template')
  != partial('backbone/_modal')

script#login-template(type= 'text/template')
  != partial('backbone/_login')

script(src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
script(src= 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
- each script in scripts
  script(src= '/' + script)
