#app
  #header
    a.home(data-href= '#/')= __('jukesy')
    input#query(name= 'jksy_query', type= 'text', value= '', placeholder= __('search for music'), spellcheck= 'false')
    #login= __('login')
  #sidebar
    #quickbar
      .quickbar-inner
        a.now-playing(data-href= '#/')= __('Now Playing')
          .icon
        a.settings(data-href= '#/settings')= __('Settings')
          .icon
        a.favorites(data-href= '#/favorites')= __('Favorites')
          .icon
        hr
        a.tag-radio(data-href= '#/tag-radio')= __('Tag Radio')
          .icon
        a.broadcasts(data-href= '#/broadcasts')= __('Broadcasts')
          .icon
        hr
        a.new-playlist= __('New Playlist')
          .icon
        #my-playlists
          .playlists
            ul
  #video
  #video-shim
  #main-wrapper
    #main
  #controls

script#controls-template(type= 'text/template')
  != partial('backbone/_controls')

script#song-info-template(type= 'text/template')
  != partial('backbone/_song_info')

script#home-template(type= 'text/template')
  != partial('backbone/_home')

script#settings-template(type= 'text/template')
  != partial('backbone/_settings')

script#favorites-template(type= 'text/template')
  != partial('backbone/_favorites')

script#tag-radio-template(type= 'text/template')
  != partial('backbone/_tag_radio')

script#broadcasts-template(type= 'text/template')
  != partial('backbone/_broadcasts')


//
// Search templates
//

script#search-waitstate-template(type= 'text/template')
  != partial('backbone/_search_waitstate')

script#search-empty-template(type= 'text/template')
  != partial('backbone/_search_empty')

script#search-artists-template(type= 'text/template')
  != partial('backbone/_search_artists')

script#search-artist-template(type= 'text/template')
  != partial('backbone/_search_artist')

script#search-albums-template(type= 'text/template')
  != partial('backbone/_search_albums')

script#search-album-template(type= 'text/template')
  != partial('backbone/_search_album')

script#search-tracks-template(type= 'text/template')
  != partial('backbone/_search_tracks')

script#search-track-template(type= 'text/template')
  != partial('backbone/_search_track')



script#track-template(type= 'text/template')
  != partial('backbone/_track')

//
// Playlist templates
//

script#playlists-template(type= 'text/template')
  != partial('backbone/_playlists')

script#playlist-short-template(type= 'text/template')
  != partial('backbone/_playlist_short')

script#playlist-template(type= 'text/template')
  != partial('backbone/_playlist')

script#playlist-empty-template(type= 'text/template')
  != partial('backbone/_playlist_empty')


//
// Modal templates
//

script#modal-template(type= 'text/template')
  != partial('backbone/_modal')

script#login-template(type= 'text/template')
  != partial('backbone/_login')

script(src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
script(src= 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
- each script in assets.js
  script(src= '/' + script)
